<script type="text/javascript">
  <% if logged_in?  %>
    window.currentUser = <%= render(
      'api/users/show.json.jbuilder',
      user: current_user
    ).html_safe %> 
  <% end %>
</script>

<main id="root">
 <h1> React crashed and burned. </h1>
</main>