/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /************************************************************
       RESETS
 ************************************************************/
/*.app-component {
  background-color: darkgrey;
  height: 100vh;
}*/


/****************************
*     TYPOGRAPHY
****************************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}


/****************************
*     BUTTONS
****************************/

.btn {
  border-radius: 35px;
  background: white;
  color: white;
  background-color: #00a3b9;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
}

.btn:hover {
  /*border: solid 2px black;*/

  background-color: #00b6ce;

}


 /************************************************************
       TOP NAVIGATION COMPONENT
 ************************************************************/

/****************************
*     TOP NAV GRID 
****************************/

.top-nav {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 25px;

}

.title {
  grid-column: 4 / 6;
  text-decoration: none;
  justify-self: center;
  align-self: center;
}

.logged-in-nav, .logged-out-nav {
  grid-column: 8 / span 2;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.grid-el-a {
  grid-column: 1;
}

.grid-el-b {
  grid-column: 2;
}


/****************************
*     TOP NAV STYLES 
****************************/
 .top-nav {
  background-color: black;
  color: white;
 }

.title {
  color: white;
  font-family: 'Archivo Narrow', Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 2em;
  padding: 0 20px;
}

.nav-link, .nav-username {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding:5px 0;
}

.nav-link:hover {
  border-bottom: 2px solid white;
}



 /************************************************************
       LANDING PAGE COMPONENT
 ************************************************************/


.landing_page {
  color: white;
}

.landing-img {
  width: 100vw;
  z-index: -1;
  position: absolute;
}

.landing-copy{
  color: white;
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.landing-copy h1 {
  font-size: 5vw;
  margin-bottom: 0;
}

.landing-copy h2 {
  font-size: 2.5vw;
  margin-top: 5px;
}

.landing-grid-a{
  grid-column: 3 ;
  grid-row: 7;
}
.landing-grid-b{
  grid-column: 3;
  grid-row: 8;
}
.landing-btn {
  max-width: 100%;
  justify-self: center;
  padding: 15px 60px;
}

