

 /************************************************************
       LANDING PAGE COMPONENT
 ************************************************************/


.landing_page {
  color: white;
}



.landing-copy{
  color: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 1px;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-grid-a{
  grid-column: 1 ;
  grid-row: 1;
}
.landing-grid-b{
  grid-column: 1;
  grid-row: 2;
}

.landing-grid-c{
  flex-direction: column;
  grid-column: 1;
  grid-row: 3;
  position: relative;
}

.copy-header {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.landing-learn-more {
  text-align: center;
  color:white;
  position: absolute;
  top:90%;
  left: 50%;
  transform: translate(-50%, -50%);

  > .fa-angle-double-down {
    z-index: 10;
    font-size: 40px;
    padding: 5px;
    margin: 0 0 10px 0;
  }
}

.landing-learn-more-text {
  text-align: center;
  color:white;
  margin-bottom: 3px;
}


.landing-btn {
  max-width: 100%;
  justify-self: center;
  padding: 15px 60px;

}


 /**********************************
       PARALAX EFFECT
 **********************************/


.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 500px;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
  }


#group1 {
  &.parallax-group {
      position: relative;
      height: 500px;
      height: 95vh;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }

  > .parallax__layer--base {
    z-index: 6;
  }

  > .parallax__layer--back {
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url("http://res.cloudinary.com/ericwindmill/image/upload/v1495466647/design/landing_background_1_jkhfyi.png");
    width: 100vw;
  }


}


#group3 {
  &.parallax-group {
      position: relative;
      height: 500px;
      height: 100vh;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }

  > .parallax__layer--base {
    z-index: 6;

  }

  > .parallax__layer--back {
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url("http://res.cloudinary.com/ericwindmill/image/upload/v1495466647/design/landing_background_1_jkhfyi.png");
    width: 100vw;
  }
}


#group4 {
  z-index: 3;

  &.parallax-group {
      position: relative;
      height: 500px;
      height: 100vh;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }

  > .parallax__layer--base {
    background: white;
  }
}



.copy {
 text-align: center;
 position: absolute;
 left: 50%;
 top: 50%;
-webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}
