

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */


.container {
  max-width: 100vw;
  margin: 0 auto;
}


section.module.parallax-1 {
  background-image: url("http://res.cloudinary.com/ericwindmill/image/upload/v1495466647/design/landing_background_1_jkhfyi.png");
  height: 90vh;
}
section.module.parallax-2 {
  background-image: url("http://res.cloudinary.com/ericwindmill/image/upload/v1495466647/design/landing_background_1_jkhfyi.png");
  height: 90vh;
}
section.module.parallax-3 {
  background-image: url("http://res.cloudinary.com/ericwindmill/image/upload/v1495466647/design/landing_background_1_jkhfyi.png");
  height: 90vh;
}


section.module h2 {
  margin-bottom: 40px;
}

section.module h3 {
  margin-bottom: 40px;
}

section.module p {
  margin-bottom: 40px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding-top: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


// @media all and (min-width: 600px) {
//   section.module h2 {
//     font-size: 42px;
//   }
//   section.module p {
//     font-size: 20px;
//   }
//   section.module.parallax h1 {
//     font-size: 96px;
//   }
// }
// @media all and (min-width: 960px) {
//   section.module.parallax h1 {
//     font-size: 160px;
//   }
// }





/* ============================================================
  SECTIONS
============================================================ */

/*******************************
Container 1
*******************************/
section.module.parallax > .container-1 h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 5vw;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 80%;
  text-align: center;
  // text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.module .btn {
  top: 57%;
  left: 50%;
  position: absolute;
  padding: 15px 60px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);

  &:focus {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .4);
  }
}

.landing-learn-more {
  text-align: center;
  color:white;
  position: absolute;
  top:90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);

  > .landing-learn-more-text {
    margin-bottom: 3px;
  }

  > .fa-angle-double-down {
    z-index: 10;
    font-size: 40px;
    padding: 5px;
    margin: 0 0 10px 0;
    transition: all .3s ease;
  }

  &:hover {
    cursor: default;
     > .fa-angle-double-down {
          font-size: 50px;
     }
  }
}


/*******************************
Container 2
*******************************/
section.module > .container-2 h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 3vw;
  // text-transform: uppercase;
  // text-shadow: 0 0 3px rgba(0, 0, 0, .4);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
}

section.module > .container-2 h3 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2vw;
  // text-transform: uppercase;
  // text-shadow: 0 0 3px rgba(0, 0, 0, .4);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
}



/*******************************
Container 2
*******************************/

