@import 'vars';
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */


.container {
  max-width: 100vw;
  margin: 0 auto;
}


section.module.parallax-1 {
  background-image: url("http://res.cloudinary.com/ericwindmill/image/upload/v1495762171/design/jim_tom_live_warm_gradient.png");
  height: 90vh;
}

section.module h2 {
  margin-bottom: 40px;
}

section.module h3 {
  margin-bottom: 40px;
}

section.module p {
  margin-bottom: 40px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding-top: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ============================================================
  SECTIONS
============================================================ */

/*******************************
Container 1
*******************************/
section.module.parallax > .container-1 > h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 5vw;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.module.parallax > .container-1 > h3 {
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.25em;
  font-size: 2vw;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.module.parallax > .container-1 > p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.25vw;
  position: absolute;
  top: 55%;
  left: 50%;
  width: 50%;
  text-align: center;
  // text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.module .btn {
  top: 65%;
  left: 50%;
  position: absolute;
  padding: 15px 60px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);

  &:focus {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .4);
  }
}

.landing-learn-more {
  text-align: center;
  color:white;
  position: absolute;
  top:90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, .4);

  > .landing-learn-more-text {
    margin-bottom: 3px;
  }

  > .fa-angle-double-down {
    z-index: 10;
    font-size: 40px;
    padding: 5px;
    margin: 0 0 10px 0;
    transition: all .3s ease;
  }

  &:hover {
    cursor: default;
     > .fa-angle-double-down {
          font-size: 50px;
     }
  }
}


/*******************************
Container 2
*******************************/
.container.container-2 {
  margin: auto ;
  
  position: relative;
  width: 80%;


  > .container-2-copy {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(7, 14.28%);
    height: 100%;
    grid-gap: 5px;

    > .posters {
      grid-row: 2 / 11;
      grid-column: 1 / 7;
    }

    > .header {
      grid-column: 6 / 11;
      grid-row: 1;
      margin-bottom: 30px;
    }

    > .discover {
      grid-column: 7 / 11;
      grid-row: 2;
    }
      
    > .discover-copy {
      grid-column: 7 / 11;
      grid-row: 3;
    }
    
    > .connect {
      grid-column: 7 / 11;
      grid-row: 4;
    }
      
    > .connect-copy {
      grid-column: 7 / 11;
      grid-row: 5;
    }
    

    > .track {
      grid-column: 7 / 11;
      grid-row: 6;
    }
  
    > .track-copy {
      grid-column: 7 / 11;
      grid-row: 7;
    }
  }

}

section.module > .container-2 h1 {
  // color: rgba(75, 231, 252, 1);
  color: $blue-green;
  font-size: 4vw;
  grid-column: 1 / 11;
  // text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0, 0, 0, .5);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

section.module > .container-2 h2 {
  // color: rgba(75, 231, 252, 1);
  color: $blue-green;
  font-size: 3vw;
  text-shadow: 0 0 3px rgba(0, 0, 0, .5);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

section.module > .container-2 h3 {
  color:black;
  font-size: 20px;
  margin: 0;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;

}




.posters {
  box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  width: 95%;
  transition: all .2s ease-in-out;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
  max-height: 500px;
  justify-self: center;

  &:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
  }
}
