@import 'vars';

.left-nav {
  position: fixed;
  padding: 24px;
  background: rgba(0,0,0, .7);
  color: #BBB;
  width: 175px;
   height: 100vh;

}
.left-nav-top a {
  display: block;
}

.left-nav-flex {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.left-title {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  margin: 0;
  padding: 24px;
  margin-bottom: 35px;
  border-bottom: solid 1px #BBB;
  color: white;
}

.browse {
  text-transform: lowercase;
  font-weight: 200;
  margin-bottom: 10px;
  font-size: .9em;
}

.browse-list {
  padding: 0;
  margin: 0;

   > a {
     padding: 15px 10px;
   }
}


.left-link {
  padding: 15px 0;
  margin: 0;
  color: #BBB;
  font-weight: 400;
  font-size: 1.1em;
  
  &:hover {
    color: $blue-green;
  }
}


.left-nav-bottom {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.left-nav-profile-link{
  padding-top: 20px;
  border-top: #BBB 1px solid;

}

.left-nav-username {
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0;

}

.top-profile {
  font-size: 1.2em;
}

.profile-name {
  display: inline-block;
  margin: 15px 0;
}

.nav-profile-img {
  width: 50px;
  padding-right: 15px;
}