@import 'vars';
 /************************************************************
       LANDING PAGE COMPONENT
 ************************************************************/

.login-page {
  height: 100vh;
  width: 100vw;
  background: url("http://res.cloudinary.com/ericwindmill/image/upload/v1495466650/design/setlist_background_cadezh.png");
    background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding:45px 0;
}


.session-form-container {

  width: 100%;
  border-radius: 5px;
  width: 430px;
  margin: 15vh auto;
  background: white;
  padding: 0 0 50px;
}

.session-form {
  margin: auto;
  width: 400px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  justify-content: center;
  align-content: center;
}

.session-grid-a {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
}

.session-grid-b {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 3;
}

.session-grid-c {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 4;
}

.session-grid-d {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 5;
}

.session-grid-e {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 6;
}

.session-grid-f {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 7;
}

.session-grid-g {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 2;
}


.auth-form-head {
  font-size: 2em;
  text-align: center;
margin-bottom: 0;

}

.txt-input {
  outline: none;
  display: block;
  width: 90%;
  padding: 3px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  margin: 0 0 15px;
  height: 45px;

  &:focus {
    box-shadow: 0 0 5px $blue-green;
    border: 1px solid $blue-green;
  }
  

}

.sign-up-btn {
  margin: 10px 0 0 0;
  padding: 10px ;
  text-align: center;
  border: none;
  width: 400px;
}

.sign-up-link {
  margin: 10px 0 0 0;
  padding: 10px ;
  text-align: center;
  border: none;
  width: 400px;
  color: black;
}

.sign-up-link:hover {

  color:$blue-green;
  padding-bottom: 10px;
}

.errors {
  color: $light-red;
}

.change-form {
    margin: 10px 0 0 0;
  padding: 10px ;
  text-align: center;
  border: none;
  width: 400px;
  display: flex;
  flex-direction: column;

}