$blue: rgb(75, 231, 252);

.setlist-index-component {
  background: rgba(10, 10, 10,1);
  min-height: 100vh;
}

.setlist-index-component h1 {
  margin: 0 auto;
  color: rgb(75, 231, 252);
  display:block;
  text-align: center;
  padding: 20px;
}

.poster-index-grid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 20px;
  justify-content: center;
}

.setlist-index-item {
  list-style: none;
  padding-bottom: 20px;
  text-align: center;
  color: white;
    & > .setlist-index-info {
    font-size: .8em;
    font-weight: 400;
    border-bottom: solid 1px black;
    padding-bottom: 3px;
    display: inline-block;
    transition: all .5s ease;
    }

    &:hover {
      & > .setlist-index-info {
        color: $blue;
        border-bottom: solid 1px $blue;
      }

      & > .setlist-index-poster {
        opacity:  0.3;
      }
    }

}

.setlist-index-poster {
  transition: all 0.3s ease;
  min-height: 250px;
  top:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  -webkit-box-shadow: inset -5px -25px 100px -22px rgba(0,0,0,1);
  -moz-box-shadow: inset -5px -25px 100px -22px rgba(0,0,0,1);
  box-shadow: inset -5px -25px 100px -22px rgba(0,0,0,1);

}

