.setlist-by-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: white;
  text-align: center;

  > .setlist-by-list-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;

    > h2 {
      
    }
  }
}