
 /************************************************************
       TOP NAVIGATION COMPONENT
 ************************************************************/

/****************************
*     TOP NAV GRID 
****************************/
$blue: rgb(75, 231, 252);


.top-nav {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  z-index: 100;
  position: fixed;
  width: 100vw;
}

.title {
  grid-column: 3 / 6;
  text-decoration: none;
  justify-self: center;
  align-self: center;
}

.logged-in-nav, .logged-out-nav {
  grid-column: 16 / span 3;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.grid-el-a {
  grid-column: 1;
}

.grid-el-b {
  grid-column: 2;
}





/****************************
*     TOP NAV STYLES 
****************************/
 .top-nav {
  background-color: rgba(0,0,0,.5);
  color: white;
 }

.title {
  color: white;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1.5em;
 
  > h2 {
    margin: 20px 0;
    font-weight: 400;
  }
}

.nav-link, .nav-username {
  color: white;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-decoration: none;
  padding:5px 0;
}

.nav-link:hover {
  border-bottom: 2px solid $blue;
}

