@import 'vars';

.fontastic::before {
  font-size: 50px;
}

.icon-ticket::before {
  color: darkviolet;
}

.icon-map::before {
  color: crimson;
}

.icon-theatre::before {
  color: orangered;
}

.icon-music-2::before {
  color: deepskyblue;
}

.icon-snow::before {
  color: limegreen;
}


.stats-at-a-glance-table {
  margin: 20px;
  background: $box-background;
  box-shadow: $box-shadow-component;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-content: space-between;
  justify-items: space-between;
  width: 100%;
  color: white;
  text-align: center;
  grid-column: 1 / 4;

  > .grid-box {
    border: $widget-inner-border;
  }

  > h3 {
    grid-column: 1 / 6;
    grid-row: 1;
    display:block;
    width: 100%;
    text-align: center;
    font-weight: 300;
  }
}


.user-setlists {
    background: $box-background;
    box-shadow: $box-shadow-component;
    color: white;
    overflow: auto;
    max-height: 60vh;
    width: 600px;
    margin-bottom: 50px;
    text-align: center;
    margin: 20px;
    flex-grow: 1;

    > ul{
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;


      > .user-setlist-item {
        padding: 1em;
        color: white;
        list-style: none;
        display: flex;
        flex-flow: column;
        text-align: center;
        max-width: 285px;
        > a {
          color: white;
          > img {
            width: 250px;
          }
        }
      }
    }
  }


.shows-per-year-widget {
    background: $box-background;
    box-shadow: $box-shadow-component;
    color: white;
    margin-bottom: 50px;
    text-align: center;
    margin: 20px;
    max-width: 600px;
    ming-width: 400px;
    max-height: 40vh;
    flex-grow: 1;

    > ul {
      padding: 0;
      list-style: none;

      > .shows-per-year-item {
        display: grid;
        grid-template-columns: 1fr 1fr;

        > .col-1 {
          grid-column: 1 / 2
        }

        > .col-2 {
          grid-column: 2 / 3
        }

        padding: 1em;
        color: white;
        border: $widget-inner-border;

      }
    }
  }


.album-percentage-widget {
    background: $box-background;
    box-shadow: $box-shadow-component;
    color: white;
    text-align: center;
    margin: 20px;
    width: 400px;
    max-height: 40vh;
    flex-grow: 1;
    overflow: scroll;

    > ul {
      padding: 0;
      list-style: none;

      > .album-percentage-item {
        display: grid;
        grid-template-columns: 1fr 1fr;

        > .col-1 {
          grid-column: 1 / 2;
        }

        > .col-2 {
          grid-column: 2 / 3;
          align-self: start;
        }

        padding: 1em;
        color: white;
        border: $widget-inner-border;

      }
    }
  }


.uniq-songs-by-album {
    background: $box-background;
    box-shadow: $box-shadow-component;
    color: white;
    margin-bottom: 50px;
    text-align: center;
    margin: 20px;
    max-width: 600px;
    min-width: 400px;
    flex-grow: 1;
    max-height: 60vh;
    overflow: scroll;

    > ul {
      text-align: left;
      padding: 0;
      list-style: none;

      > .uniq-songs-album-item {
        display: grid;
        grid-template-columns: 1fr 1fr;

        > .col-1 {
          grid-column: 1 / 2
        }

        > .col-2 {
          grid-column: 2 / 3
        }

        padding: 1em;
        color: white;
        border: $widget-inner-border;

      }
    }
  }


.per-year-line-graph {
    background: $box-background;
    box-shadow: $box-shadow-component;
    color: white;
    text-align: center;
    margin: 20px;
    max-width: 600px;
    min-width: 400px;
    max-height: 400px;
    flex-grow: 1;
    display: inline-block;
    padding: 10px;
}

